@media screen and (max-width: 767px) {
    
    body {
        height: auto !important;
    }
    
    .smooth-scroll {
        overflow: hidden;
        width: 100vw;
        height: auto;
    }

    .logo__img-primary,
    .logo__img-secondary {
        width: 70px !important;
        height: auto !important;
    }
    
    .preloader__heading .logo__img-primary {
        width: 40% !important;
        height: auto !important;
    }
    
    .header_fixed {
        padding-top: 10px;
        height: 80px;
    }
    
    .header__wrapper-menu ul li a {
        font-size: 28px;
    }
    
    .header__wrapper-menu ul li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
    img.about-menu {
        width: 26px;
    }

    .slider__heading {
        margin-left: 6vw;
    }

    .slider-fullscreen-projects__content {
        display: flex;
        align-items: center;
    }

    .destined_to_desing .peachy_flightoe_font.font_70 {
        width: 140%;
    }

    .destined_to_desing .font_70 {
        font-size: 40px !important;
        display: flex;
        align-items: start;
        margin-left: 9px;
    }

    .destined_to_desing .font_30 {
        font-size: 30px;
        margin-left: 10px;
    }

    .destined_to_desing .font_100 {
        font-size: 50px !important;
    }

    .art_100 {
        font-size: 50px !important;
        position: relative;
        left: -60% !important;
        top: 50px !important;
        width: 150%;
        display: block;
    }

    .arrow .svg-circle {
        width: 30px;
        height: 30px;
    }

    .animheadertext-2 .font50 {
        font-size: 10vw;
    }

    .font26 {
        font-size: 22px;
    }

    .anim-text__desc {
        font-size: 14px;
        line-height: 22px;
        padding: 10px 10px;
    }

    .border_2:before {
        content: "";
        height: 54px;
        width: 100%;
        position: relative;
        bottom: -39px;
    }

    .font50 {
        font-size: 34px;
    }

    .amsterdam_font {
        font-size: 30px;
        top: 0px;
    }

    .services_box {
        padding: 50px 30px;
        height: auto;
        padding-top: 80px;
    }
    
    .scroll-content {
        display: block; /* Ensure it's visible */
        transform: translate3d(0px, 0px, 0px); /* Reset transform for mobile */
    }

    .home_intro_Bg:before {
        position: absolute;
        top: -68px;
    }

    h3.pour_to_product {
        font-size: 30px;
    }
    
    .img_height, .img_height1 {
        height: auto;
        object-fit: cover;
    }

    .col-md-4 > .services_box {
        padding: 50px 15px;
    }

    .bottom_services .box .box-content {
        left: 0px;
        top: 20%;
        right: 0px;
        padding: 0px 12px;
    }

    .footer_logo img {
        width: 80px;
    }

    /*about us page*/

    .about_us_banner,
    .gallery_banner,
    .contact_us_banner,
    .vases_banner,
    .gallery_details_banner {
        height: 200px;
        top: 0px;
    }

    .about_us_banner img,
    .gallery_banner img,
    .contact_us_banner img,
    .vases_banner img,
    .gallery_details_banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header_title {
        position: absolute;
        margin-left: 105px;
        margin-top: -110px;
        color: #fff;
    }

    .about_signature {
        width: 280px;
        position: absolute;
        margin-top: -88px;
        margin-left: 4%;
    }

    .about_between {
        padding: 60px 0px 30px;
    }

    .about_between h4 {
        font-size: 24px;
        text-align: center;
        line-height: 35px;
    }

    .font30 {
        font-size: 24px;
        line-height: 35px;
    }

    .about_middle_section.border_2:before {
        bottom: 0px;
    }

    .parallax-image {
        margin-left: 50px;
        margin-top: 30px;
    }

    .about_img_vission:before {
        bottom: 10px;
        left: -109px;
    }

    .about_img_vission:after {
        top: -42px;
        left: 12px;
    }

    .vission_title {
        right: 10px;
        top: -10px !important;
    }

    .design_den {
        padding: 40px 0px;
    }

    .about_circle img {
        width: 100%;
    }

    .design_heading {
        font-size: 90px;
        width: 80%;
        top: 8rem;
        line-height: 90px;
        margin-left: 40px;
    }

    .homeboxanimate-para, .js-split-p-letter {
        font-size: 14px;
    }

    /*gallery page*/

    .pddleftright {
        padding: 0px 10px;
    }

    .gallery_banner .header_title,
    .contact_us_banner .header_title {
        margin-left: 93px;
    }

    .gallery_img img {
        width: 100%;
    }

    .gallery_img {
        margin: 0px 20px;
    }

    .gallery_box_section .gallery_box_inner {
        margin-top: 30px !important;
    }

    .gallery_content h5 {
        font-size: 30px;
    }

    .gallery_box_section
        .col-md-6:nth-child(odd)
        .gallery_box_inner
        .gallery_content {
        text-align: center;
        padding-right: 0px;
    }

    .gallery_box_section
        .col-md-6:nth-child(even)
        .gallery_box_inner
        .gallery_content {
        text-align: center;
        padding-left: 0px;
    }

    /* gallery details page   */

    button.btn.gallery_yt_video {
        top: 32%;
        left: 41%;
    }
    
    .swiper-button-next:after {
        font-size: 32px !important;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .swiper-button-prev:after {
        font-size: 32px !important;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    i.fa-regular.fa-circle-play {
        color: #fff;
        font-size: 3em;
    }

    div.masonry_gallery .masonry_gallery_div {
        width: 96%;
        margin: 25px auto;
    }

    /*contact us page*/

    .contact_us_page form {
        padding: 8px 10px 8px 10px;
    }

    .gallery_details_section.border_3:after {
        bottom: -50px;
    }

    /*services vases page*/

    .border_4:before {
        height: 50px;
        bottom: 45px;
    }

    .border_1:after {
        bottom: 66px;
        height: 39px;
    }

    .vases_banner .header_title,
    .gallery_details_banner .header_title {
        margin-left: 85px;
    }

    .section-fullheight__inner_mobile {
        min-height: calc(var(--fix-bar-vh, 1vh)* 100);
    }

    .slider__images-slide-inner_circle {
        margin-top: 16vh;
        max-width: 80vw;
        max-height: 80vw;
    }

    .section__circle, .slider__circle {
        top: 45%;
    }

    .section__circle, .slider__circle {
        width: calc(90vw + var(--gutter-horizontal)* 2);
        height: calc(90vw + var(--gutter-horizontal)* 2);
    }
}

@media sreen and (max-width: 350px) {
    .contact_form_color_white {
        font-size: 14px;
    }

    a.contact_form_color_white i {
        margin: 0px 1px 10px 0px !important;
        font-size: 14px;
    }
}

@media screen and (max-width: 340px) {
    .slider__heading {
        margin-left: 3vw;
    }

    .header_title {
        position: absolute;
        margin-left: 87px;
    }

    .gallery_banner .header_title,
    .contact_us_banner .header_title {
        margin-left: 70px;
    }

    .vases_banner .header_title,
    .gallery_details_banner .header_title {
        margin-left: 70px;
    }

    a.contact_form_color_white i {
        margin: 0px 1px 10px 0px !important;
        font-size: 14px;
    }
    
    .slider__images-slide-inner_circle {
        margin-top: 22vh;
    }
    
    img.about-menu {
        width: 18px;
    }
}
