
body {
    background: #dcdddf;
    overflow-x: hidden;
    font-family: "UniviaPro" !important;
}
body::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
section {
    position: relative;
}
.fa {
    font-family: FontAwesome;
}
.grey-bg{
    background: #dcdddf;
}
.owl-carousel {
    display: block !important;
}
/*.bg-transparent {*/
/*    background: transparent !important;*/
/*    box-shadow: none !important;*/
/*}*/
.link-img{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.link-img img{
    position: absolute;
    width: 100%;
    transform: scale(1.1);
    opacity: 0;
    transition: all ease 1s;
}
.link-img img.active{
    opacity:1;
    transform:scale(1);
}
.header__wrapper-menu{
    position:relative;
    /* overflow:hidden; */
}
::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}
.header__wrapper-menu ul li a {
    text-decoration: none;
    color: #fff !important;
    font-family: "Peachy Flightoe";
    font-size: 38px;
}

.about-menu.new-class {
    display: none;
}
.w-50{
   width:50%; 
}
.w-60{
   width:60%; 
}
.w-70{
   width:70%; 
}
.w-80{
   width:80%; 
}

.font_30 {
    font-size: 60px;
    margin-left: 20px;
}

.art_100 {
    font-size: 160px !important;
    position: relative;
    left: -60% !important;
    top: 50px !important;
}

.font_100 {
    font-size: 140px !important;
}

.font_70 {
    font-size: 100px !important;
    display: flex;
    align-items: end;
    margin-left: 70px;
}
.swiper-wrapper {
    height: auto !important;
}
.slider__arrow_left, .slider__arrow_right {
    top: 45% !important;
}
h2.h1.slider__heading {
    position: relative;
    top: 0px !important;
    top: 10%;
}
/*.home_section_img_left{clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 100%, 0% 0%);}*/
/*.home_section_img_left img { clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 100%, 0% 0%); }*/
.home_section_img_left img { clip-path: polygon(0% 100%, 0% 100%, 20% 100%, 20% 0%, 0% 0%); }
.home_section_img_top img{clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 100% 0%, 0% 0%);}
.home_section_img_right img{clip-path: polygon(100% 0%, 100% 100%, 80% 100%, 80% 0%, 0% 0%);}
.amsterdam_font {
    font-family: "Amsterdam Four_ttf";
    font-size: 40px;
    position: relative;
    top: -6px;
}

.amsterdam_font1 {
    font-family: "Amsterdam Four_ttf";
}

.peachy_flightoe_font {
    font-family: "Peachy Flightoe";
}

.trajanPro_regular {
    font-family: "TrajanPro-Regular";
}

.font50 {
    font-size: 50px;
}

.font26 {
    font-size: 26px;
}

.text-justify {
    text-align: justify;
}

.float_right {
    float: right;
}

.main_logo {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 50px;
}

.main_logo img {
    width: 120px;
}

.color_white {
    color: #fff;
}

.black_white {
    color: #000;
}

.padd0 {
    padding: 0px;
}

.background_grey {
    background-color: #bdbec2;
}

.services_section p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5em;
    line-height: 1.2em;
}

img.service-images {
    width: 100%;
}

.bottom_services.border_3:after {
    position: absolute !important;
    bottom: -1px !important;
}

/* services section css open */
.services_bg {
    background-image: url(/assets/frontend/image/services_img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.services_box {
    padding: 50px;
    height: 420px;
    padding-top: 80px;
}

.img_height {
    height: 420px;
    object-fit: cover
}

.img_height1 {
    height: 840px;
    object-fit: cover
}

.services_bg_gray {
    background: #bdbec2;
}

wordtune-read-extension {
    display: none;
}

.border_2:before {
    background-image: url(/assets/frontend/image/border-top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 69px;
    width: 100%;
    position: relative;
    bottom: -63px;
    display: block;
    left: 0;
    z-index: 1;
}

.border_3:after {
    background-image: url(/assets/frontend/image/border-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 69px;
    width: 100%;
    position: relative;
    bottom: 57px;
    display: block;
    left: 0;
    z-index: 1;
}

.border_1:after {
background-image: url(/assets/frontend/image/border-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 69px;
    width: 100%;
    position: relative;
    bottom: 68px;
    display: block;
    left: 0;
    /*z-index: 1;*/
}

.slider-fullscreen-projects__images.swiper-container.services_swiper {
    position: relative !important;
}


.pddleftright {
    padding: 0px 210px;
}

.border_4.vases::before {
    height:40px;
    bottom: 40px !important;
}

.vases h2.h1.slider__heading {
    position: relative;
    top: 0px !important;
    top: 10%;
}

/*--services bottom css open--*/
.services_section .container {
    max-width: 2200px;
}

.bottom_services .container {
    max-width: 2200px;
}

.bottom_services .box {
    background: #000;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.bottom_services .box:hover:before {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

.bottom_services .box img {
    width: 100%;
    height: auto;
    transition: all 0.35s;
}

.bottom_services .box:hover img {
    opacity: 0.3;
}

.bottom_services .box .box-content {
    color: #fff;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 25px;
    right: 25px;
    z-index: 2;
    transition: all 0.4s ease;
    padding: 0px 100px;
}

.bottom_services .box:hover .box-content {
    opacity: 1;
}

.bottom_services .box:hover .box-content {
    top: 40%;
}

.bottom_services .box .title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 2px;
}

.bottom_services .box .post {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-style: italic;
    margin: 0 0 20px;
    display: block;
}

.services_gallery .gallery_dt_img {
    margin-bottom: 5px;
}

.banner_section .carousel-caption {
    top: 30% !important;
    text-align: left;
}

span.fontsize_middle {
    font-size: 5rem;
}

span.fontsize_small {
    font-size: 2rem;
}

span.fontsize_big {
    font-size: 2em;
    display: block;
    position: relative;
    top: -44px;
}

.font-size100 {
    font-size: 5rem;
    position: relative;
    top: -30%;
    left: 40%;
}

.banner_section .carousel-indicators [data-bs-target] {
    width: 13px !important;
    height: 13px !important;
}

.carousel-indicators {
    bottom: 70px !important;
}

/*--footer css open--*/
@media screen and (min-width: 767px) {
    .footer1_li li {
        float: left;
    }
}

.footer_center svg {
    height: 25px;
    width: 25px;
    padding: 3px;
    border: 2px solid #333;
    line-height: 27px;
    border-radius: 50px;
}

.footer_center a {
    color: #333;
    padding: 6px;
}

.footer_logo img {
    width: 120px;
}

.footer_left ul li {
    background-color: transparent;
    border: 0;
    padding-top: 0px;
}

footer p {
    font-size:15px;
}


/*-- about us page css--*/
.header_title {
    position: absolute;
}

.header_title {
    position: absolute;
    margin-left: 80px;
    margin-top: -97px;
    color: #fff;
}

.about_us_banner.border_1:after {
    position: absolute;
    bottom: 0px;
}

.about_signature {
    width: 600px;
    position: absolute;
    margin-top: -208px;
    margin-left: 21%;
}

.about_between {
    padding: 70px 77px;
}

.about_between h4 {
    font-size: 30px;
    text-align: center;
    line-height: 47px;
}

.border_bottom1 {
    background-image: url(/assets/frontend/image/about-border.png);
    background-position: center;
    background-size: cover;
    height: 90px;
}

.mt120 {
    margin-top: -20px;
}

#about_us.mt120 .col-md-7 {
    margin-top: -150px;
}

.font30 {
    font-size: 28px;
    line-height: 47px;
}

.bg_darkgray {
    background: #2d2d2d;
}

.about_middle_section:before {
    bottom: 2px;
}

.about_middle_section:after {
    bottom: -2px;
}

.about_middle_section {
    padding: 0px 0px;
}

hr {
    opacity: 0.5;
    color: #fff;
}

.parallax-image {
    width: 80% !important;
}

.vission_title {
    color: #fff;
    text-align: end;
    font-size: 66px;
    position: relative;
    z-index: 11;
    right: 0;
    top: -40px;
}

.about_img_vission:after {
    background-image: url(/assets/frontend/image/starrating1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 174px;
    width: 16%;
    position: absolute;
    top: -52px;
    display: block;
    left: -60px;
    z-index: 1;
}


.about_img_vission:before {
    background-image: url(/assets/frontend/image/starrating2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 83px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: block;
    left: -214px;
    z-index: 1;
}

.about_circle img {
    width: 501px;
    float: right;
}

.design_heading {
    font-size: 114px;
    width: 100%;
    position: absolute;
    top: 18rem;
    line-height: 100px;
    margin-left: -40px;
}

.design_den .about_circle {
    position: relative;
}

.design_den {
    padding: 80px 0px;
}

/** Gallery Page CSS open **/

.our_work_bg {
    background-image: url(/assets/frontend/image/gallery_BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_banner.border_1:after {
    position: absolute;
    bottom: 0px;
}

.gallery_img img {
    width: 70%;
}

.gallery_img {
    margin: 0px 40px;
}

.gallery_content h5 {
    color: #fff;
    font-size: 42px;
}

.gallery_content {
    position: relative;
    top: -39px;
}

.gallery_content a {
    color: #fff;
    text-decoration: none;
}

.gallery_content i {
    border: 1px solid #fff;
    width: 25px;
    text-align: center;
    height: 26px;
    line-height: 25px;
    border-radius: 50px;
    font-size: 14px;
    margin-left: 5px;
}

.gallery_box_section .col-md-6:nth-child(even) .gallery_box_inner {
    margin-top: 30px;
}

.gallery_box_section .col-md-6:nth-child(odd) .gallery_box_inner {
    margin-top: -100px;
}

.gallery_box_section .col-md-6:nth-child(odd) .gallery_box_inner .gallery_content {
    text-align: end;
    padding-right: 100px;
}

.gallery_box_section .col-md-6:nth-child(even) .gallery_box_inner .gallery_content {
    text-align: left;
    padding-left: 100px;
}

.gallery_box_section .col-md-6:nth-child(odd) .gallery_box_inner .gallery_img img {
    margin-left: auto;
    display: block;
}

.gallery_box_section .col-md-3 {
    margin: 0px auto;
}

.gallery_box_section .homeboxanimate-btn-bracket.the-button.white {
    margin: 0px auto;
    width: 65% !important;
}

.gallery_details_section
{
    padding: 0px 0px 50px 0px;
}
.gallery_box_section {
    padding: 150px 0px 0px 0px;
}

.gallery_box_section.border_2:before {
    bottom: 151px;
}

.gallery_box_section.border_3:after {
    bottom: 0px;
}


div.masonry_gallery{
    column-width: 300px;
    column-gap: 5px;
    padding: 5px;
  }
  
  div.masonry_gallery .masonry_gallery_div{
    width: 95%; 
    /* margin: 24px; */
    overflow: hidden;
  }
  
  .masonry_gallery_div img {
      width: 100%;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
      color: #fff !important; /* Change this to the color you want */
      z-index: 10; /* Ensure they are on top */
      position: relative;
  }
  
  .swiper-slide iframe {
      width: 100%;
  }
  
  .swiper-slide {
      position: relative;
  }

  .gallery_swiper .swiper-slide img {
    width: 100%;
    object-fit: contain;
}
  
  button.btn.gallery_yt_video {
      width: 50px;
      height: auto;
      opacity: 0.5;
      position: absolute;
      top: 30%;
      left: 40%;
      z-index: 9;
  }
  
  i.fa-regular.fa-circle-play {
      color: #fff;
      font-size: 6em;
  }


  #videoModal .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px auto;
}

.modal-body {
    padding: 0 1rem 0rem !important;
}

.modal-content {
    border-radius: 6px !important;
    padding: 0em !important;
    background: transparent;
}

.modal-header {
    padding: 10px 21px !important;
    border: 0;
}

.modal-title {
    margin-top: 10px;
}

.modal-header .close {
    padding: 5px 10px ;
    border: 0px;
    background: transparent;
    color: #fff;
}

button.close span {
    font-size: 4em;
    line-height: 10px;
}


/* gallery dt page css*/

.border_4:before {
    background-image: url(/assets/frontend/image/about-border.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 69px;
    width: 100%;
    position: relative;
    bottom: 60px;
    display: block;
    left: 0;
    z-index: 1;
}

.gallery_dt_img img {
    width: 100%;
}

.gallery_dt_img {
    margin-bottom: 25px;
}

.contact_us_page .gallery_dt_img {
    height: 86%;
    margin-bottom: 0px !important;
}

.contact_us_page .gallery_dt_img img {
    height: 105vh;
}

.gallery_details_section.border_3:after {
    bottom: -52px;
}

/*gallery last button*/

.homeboxanimate-btn-bracket {
    text-align: center;
    /*border: 1px solid #fff;*/
    padding: 5px 0px 7px 0px;
    border-radius: 25px;
    margin: 20px auto;
    width: 200px;
}

.homeboxanimate-btn-bracket a {
    text-decoration: none;
}

/*contact us page*/



.contact_us_page input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    resize: none;
    background-color: transparent;
}

.contact_us_page input[type="submit"] {
    color: #484a4b;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact_us_page input::placeholder {
    color: #484a4b;
}

.contact_us_page form {
    padding: 8px 40px 8px 80px;
}

.contact_form_color_white {
    color: #d7d7d7;
    text-decoration: none;
}

a.contact_form_color_white i {
    margin: 0px 5px 20px 0px !important;
}

form .the-button button {
    border: 0;
    background: transparent;
    color: #000;
}

form .the-button {
    width: 30% !important;
}
/* 
ul.sub-menu.opened::after {
   content: "";
    position: absolute;
    background: #000;
    height: 71px;
    width: 79px;
    left: 164px;
    top: 86px;
} */

/*_____________________________umair____________________*/

.the-button {
    width: 40%;
    position: relative;
    padding: 3px 10px 0px;
    text-align: center;
    border-radius: 0;
}

.contact_form button, .the-button a {
    text-decoration: none;
    position: relative;
    z-index: 999 !important;
}

@media  (min-width: 1420px) and (max-width: 1919px) {

    .contact_form div{
        font-size: 20px;
        gap: 50px;
    }
    
    .home_intro_Bg:before {
        bottom: 67px !important;
    }
    
    .contact_form .amsterdam_font {
        font-size: 6vh;
    }
    
    button.btn.gallery_yt_video {
        top: 34%;
        left: 42%;
    }
}


@media all and (min-width: 1920px) {
    
    p:not(.contact_form_color_white) {
        font-size: 17px !important;
    }
    
    span p.font_30 {
        font-size: 60px !important;
        margin-left: 20px;
    }
    
    .home_intro_Bg:before {
        bottom: 67px !important;
    }
    
    h2.h1.slider__heading {
        position: relative;
        top: 160px !important;
    }
    
    h2.peachy_flightoe_font.h1.slider__heading {
        position: relative;
        top: 0px !important;
    }
    
    .logo__wrapper-img img {
        width: 70px;
        height: auto;
    }
    
    .the-button {
        font-size: 16px;
        letter-spacing: 0.25em;
    }
    
    .img_height1 {
        height: 840px;
        object-fit: cover;
    }
    
    .img_height {
        height: 420px;
        object-fit: cover;
    }
    
    .services_box .font50 {
        font-size: 46px;
    }
    
    /*.swiper-wrapper {
        height: 670px !important;
    }*/
    
    /*.services_swiper .swiper-wrapper {
        height: auto !important;
    }*/
    
    .gallery_box_section .the-button {
        padding: 10px 0px 0px;
    }
    
    .homeboxanimate-btn-bracket:not(.col-md-3) .homeboxanimate-btn-bracket {
        transform: translateX(75%) !important;
    }
    
    .the-button {
        padding: 10px 10px 0px;
    }
    
    .services_section p {
        height: 6em;
        line-height: 1.5em;
    }
    
    .swiper-slide {
        height: 670px;
    }
    
    .slider__arrow_left, .slider__arrow_right {
        top: 45% !important;
    }
    
    .slider-fullscreen-projects__footer_content {
        bottom: 130px;
    }

    button.btn.gallery_yt_video {
        top: 34%;
        left: 42%;
    }

    /*.swiper-wrapper {
        position: relative;
        top: 150px;
    }*/   

    .contact_form div {
        height: 45vh;
        font-size: 24px;
        gap: 50px;
    }
    
    form div {
        height: 0px !important;
    }
    
    form .the-button {
        padding: 0px 10px 0px;
    }
    
    .contact_form .amsterdam_font {
        font-size: 60px;
    }
    
    .contact_us_page input::placeholder, textarea::placeholder {
        font-size: 18px;
        color: #484a4b;
    }
    
    .parallax-image {
        width: 100% !important;
    }
    
    .about_img_vission:after{
        left: -60px;
        width: 19%;
        position: absolute;
        top: -30px;
    }
    
    footer p {
        font-size: 17px !important;
    }

}

@media only screen and (min-width: 1083px) and (max-width: 1230px) {
    .contact_form_color_white:not(h3) {
        font-size: 14px ;
    }

    a.contact_form_color_white i {
        margin: 0px 5px 8px 0px !important;
    }

    .amsterdam_font {
        font-size: 36px;
        top: 0px;
    }

    .contact_us_page input, textarea {
        padding: 8px 10px;
    }

    .contact_us_page input::placeholder, textarea::placeholder {
        font-size: 14px;
        color: #484a4b;
    }

    form .homeboxanimate-btn-bracket {
        margin: 10px auto;
    }
}

@media only screen and (min-width:990px) and (max-width: 1082px) {
    .contact_form_color_white:not(h3) {
        font-size: 13px !important;
    }

    a.contact_form_color_white i {
        margin: 0px 5px 8px 0px !important;
    }

    .amsterdam_font {
        font-size: 34px;
        top: 0px;
    }

    .contact_us_page input, textarea {
        padding: 5px 10px;
    }

    .contact_us_page input::placeholder, textarea::placeholder {
        font-size: 13px;
        color: #484a4b;
    }

    form .homeboxanimate-btn-bracket {
        margin: 10px auto;
    }

    form .the-button button {
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {
    .the-button {
        font-size: 16px;
        letter-spacing: 0.10em;
    }
}

.the-button:hover:before,
.the-button.white:hover:before {
    width: 100%;
}

.the-button:hover:after,
.the-button.white:hover:after {
    width: 100%;
}

.the-button::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 38px;
    top: -2px;
    left: -6px;
    border: 1px solid #000;
    border-right: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.the-button.white::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 38px;
    top: -2px;
    left: -6px;
    border: 1px solid #fff;
    border-right: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}


@media all and (min-width: 2220px) {
    .the-button::before,
    .the-button.white::before {
        width: 20px;
        height: 47px;
        top: -5px;
    }
}

@media only screen and (max-width: 640px) {
    .the-button::before,
    .the-button.white::before {
        width: 15px;
        height: 38px;
        top: -2px;
    }
}


.the-button::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 38px;
    top: -2px;
    right: -6px;
    border: 1px solid #000;
    border-left: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.the-button.white::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 38px;
    top: -2px;
    right: -6px;
    border: 1px solid #fff;
    border-left: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

@media all and (min-width: 1920px) {
    .the-button::after,
    .the-button.white::after {
        width: 20px;
        height: 47px;
        top: -5px;
    }
}

@media only screen and (max-width: 640px) {
    .the-button::after,
    .the-button.white::after {
        width: 15px;
        height: 38px;
        top: -2px;
    }
}
/* floating text animated texts */
.anim-text__title {
  color: var(--pr-color-2);
  font-size: 36px;
  font-weight: 700;
}

.js-split-words2-line {
    overflow: hidden;
    line-height: 2;
}

.js-split-words2-line div.js-split-words2-text {
    display: inline-block;
    transform: translateY(200px);
    /*transform: none;*/
    line-height: 2;
}

.js-animated-text div>div {
  -webkit-transform: translate(20px, 220%) rotate(20deg);
  -moz-transform: translate(20px, 220%) rotate(20deg);
  -o-transform: translate(20px, 220%) rotate(20deg);
  -ms-transform: translate(20px, 220%) rotate(20deg);
  transform: translate(20px, 220%) rotate(20deg)
}

.negative-mt {
  margin-top: -1px
}

.split-line {
  overflow: hidden;
}

.main-screen .anim-text {
  position: relative;
  z-index: 2
}

.anim-text__desc {
  color: var(--pr-color-2);
  font-size: 17px;
  line-height: 24px;
  overflow-y: hidden;
  padding: 10px 100px;
}
/* text scrolling infinite animation */
                        
/*------------------------umair home--------------*/

.js-split-btn-letter{
    overflow:hidden;
}   
/*------------------------umair about--------------*/
.heading_inner_text {
    opacity: 0;
    transform: translate(-60%, 0%) skew(-20deg, 0deg);
}
/*.image-wrapper-profile {*/
/*                position: relative;*/
/*                overflow: hidden;*/
/*            }*/

/*.overlay {*/
/*    background: #dcdddf;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    z-index: 2;*/
/*}*/
/* Hover effect for image */
/*.image-wrapper-profile:hover .profile_img {*/
/*    transform: scale(1.2);*/
/*}*/

.parallax-container {
    perspective: 700px; /* Perspective for 3D effect */
    /*overflow: hidden;*/
}

.parallax-image {
    width: 100%; /* Make the image fill its container */
    transition: transform 0.2s ease; /* Smooth transition for tilting effect */
    transform-style: preserve-3d; /* Required for perspective */
}

.parallax-container:hover .parallax-image {
    /*transform: rotateY(10deg);  Initial tilt on hover */
}
.parallax-container .parallax-image {
    transition: transform 0.5s ease; /* Smooth transition for resetting tilt */
}

.parallax-container3 {
    /*overflow: hidden;*/
    position: relative;
}

/* Style for the parallax layers */
.parallax-layer3 {
    transform: translateY(40%);
}
.parallax-container2 {
    z-index: 2;
    /*overflow: hidden;*/
    position: relative;
}

/* Style for the parallax layers */
.parallax-layer2 {
    transform: translateY(40%);
}

.reveal-text {
    background: linear-gradient(to right,
            rgb(255, 255, 255) 50%,
            rgb(37, 37, 37) 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.home_intro_Bg:before {
    background-image: url(/assets/frontend/image/border-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 69px;
    width: 100%;
    position: relative;
    bottom: 58px;
    display: block;
    left: 0;
    z-index: 999;
}


